<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Pokedex | Entei</title>
    <link rel="shortcut icon" href="../img/entei.png" type="image/x-icon">

<!-- Estilos Internos -->

<style>
    body{background-image: url("../img/fondo_entei.png");
        background-size: cover; 
    }
</style>
</head>


<body style="font-family: 'Press start 2P', cursive;">
    <h1 style="color: #9F5F31;">Entei</h1>  
    <img style=width:25% src="../img/entei.png" alt="Entei"> 
    <p>Tipo: <span style="background-color: #FF4422; padding: 3px; border-radius: 5px; color: white;"> Fuego </span></p>
    <p style="color: white;">Descripcion:</p>
    <p style="color: white;">Entei es un Pokémon legendario de tipo fuego introducido en la segunda generación. Es uno de los tres perros legendarios junto con Raikou y Suicune. Por su forma de captura en los videojuegos, es un Pokémon errante.</p>
</body>
</html>