<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | Jirachi</title>
    <link rel="shortcut icon" href="../img/jirachi.png" type="image/x-icon">
<!-- Estilos Internos -->

<style>
    body{background-image: url("../img/fondo_jirachi.png");
        background-size: cover;
    }
</style>
</head>

<body style="font-family: 'Press start 2P', cursive;">
    <h1 style="color: #EFD38A;">Jirachi</h1>
    <img style=width:25% src="../img/jirachi.png" alt="Jirachi">
    <p><span style="color:#EFD38A;"> Tipo: </span> <span style="background-color: gray; padding: 3px; border-radius: 5px; color: white;"> Acero </span>   <span style="background-color: pink; padding: 3px; border-radius: 5px; color: white;"> Psiquico </span></p></p>
    <p style="color: white;">Descripcion:</p>
    <p style="color: white;">Jirachi es un Pokémon singular de tipo acero/psíquico introducido en la tercera generación.</p>
</body>
</html>