<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Pokedex | Lycanroc Crepuscular</title>
    <link rel="shortcut icon" href="../img/lycanroc_crepuscular.png" type="image/x-icon">

<!-- Estilos Internos -->

<style>
    body{background-image: url("../img/fondo_crepuscular.jpg");
        background-size: 80%;
    }
</style>
</head>

<body style="font-family: 'Press start 2P', cursive;">
    <h1 style="color: #D0753D;">Lycanroc Crepuscular</h1>
    <img style=width:25% src="../img/lycanroc_crepuscular.png" alt="Lycanroc Crepuscular">
    <p>Tipo: <span style="background-color: sienna; padding: 3px; border-radius: 5px; color: white;"> Roca </span></p>
    <p style="color: white;">Descripcion:</p>
    <p style="color: white;">Lycanroc (ルガルガン Lugarugan en japonés) es un Pokémon de tipo roca introducido en la séptima generación. Es la evolución de Rockruff.</p>
</body>
</html>